/*HomePage.css*/
.homepage {
    margin-top: -20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: start; /* this will align your grid items at the top */
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}


.card-row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

