.App {
  text-align: center;
  margin-bottom: -20px; /* Add a negative margin to remove the bottom gap */
}

.App-header {
  background-color: #282c34;
  min-height: calc(100vh - 20px); /* Subtract the margin to adjust the height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
